body{
    font-family: NBG,HelveticaNeue-Light,AppleSDGothicNeo-Light,sans-serif;
    background-color: #fff;
    margin: 0;
    padding: 0;
    border: 0;
}
a{
    text-decoration: none;
    -webkit-tap-highlight-color : transparent;
    color: -webkit-link;

}
a:link {
color : inherit;
}
a:visited {
color : inherit;
}
a:hover {
color : inherit;
}
a:active {
color : inherit
}
div{
    display: block;
}
section{
    display: block;
}