.player{
    z-index: 500;
    height: 111px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* min-width: 955px;
    max-width: 1600px; */
    color: #989898;
}

.track{
    position: absolute;
    left: 30px;
    top: 24px;
    white-space: nowrap;
}

.controller{
    width: 375px;
    margin: 0 auto;
    padding-top: 23px;
    white-space: nowrap;
    position: relative;
    text-align: center;
}
.volumeArea{
    position: absolute;
    top: 40px;
    right: 89px;
}

.volumeBtn{
    cursor: pointer;
    font-size: 30px;
    color: rgb(180, 180, 180); 
    z-index: 10;
    position: relative;
}
.volumeBtn:hover {
    color: rgb(128, 128, 128); 
}

.active{
    color: #fff; 
}
.active:hover{
    color: #fff;
}

.progressBar{
    position: absolute;
    bottom: -15px;
    left: -8px;
    width: 47px;
    height: 169px;
    background: #000;
    border-radius: 7px;
}
.rangeArea{
    transform: rotate(270deg);
    position: absolute;
    top: 62px;
    left: -21px;
    width: 90px;
    height: 3px;
}
.progress{
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    vertical-align: top;
    cursor: pointer;
    -webkit-appearance: none;
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    
}
.volumeHandle{
    display: block;
    position: absolute;
    top: -3px;
    width: 9px;
    height: 9px;
    margin-left: -3px;
    border-radius: 5px;
    background: #fff;
    pointer-events: none;
}

.playBtn{
    cursor: pointer;
    font-size: 40px;
    color: #fff;
}

.img{
    width: 63px;
    height: 63px;
    float: left;
    border-radius: 4px;
}
.grayimg{
    background-color: #989898;
}

.trackInfo{
    float: left;
    margin-left: 20px;
}

.title{
    padding-top: 12px;
    font-size: 18px;
    color: #fff;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist{
    padding-top: 7px;
    font-size: 14px;
    color: #989898;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}