.player{
    z-index: 500;
    height: 111px;
    background-color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    /* min-width: 955px;
    max-width: 1600px; */
    color: #989898;
}

.track{
    position: absolute;
    left: 30px;
    top: 24px;
    white-space: nowrap;
}

.controller{
    width: 375px;
    margin: 0 auto;
    padding-top: 23px;
    white-space: nowrap;
    position: relative;
    text-align: center;
}

.playBtn{
    cursor: pointer;
    font-size: 40px;
    color: #fff;
}

.img{
    width: 63px;
    height: 63px;
    float: left;
    border-radius: 4px;
}
.grayimg{
    background-color: #989898;
}

.trackInfo{
    float: left;
    margin-left: 20px;
}

.title{
    padding-top: 12px;
    font-size: 18px;
    color: #fff;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.artist{
    padding-top: 7px;
    font-size: 14px;
    color: #989898;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}