.img{
    overflow: hidden;
    display: block;
    position: absolute;
    top: 10px;
    left: 20px;
    width: 45px;
    height: 45px;
    border-radius: 4px;
    background-size: 100% 100%;
}

.playlist{
    margin-top: 57px;
    background-color: whitesmoke;
    border-radius: 7px;
    padding: 10px 0;
}

.ply{
    height: 65px;
    position: relative;
}

.musicInfo{
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding-left: 85px;
    text-align: left;
    
}

.trackInfo{
    width: 320px;
}

.title{
    font-size: 15px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.artist{
    padding-top: 4px;
    font-size: 12px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}